*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  'Open Sans', sans-serif;
    font-size:15px;
}
.intestazionefissa{
    height:100px;
    width:100%;
    background-color: white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}
.logo-titolo{
    height:50px;
}
.sezioni-titolo a{
    margin-left:20px;
}
.sezioni-titolo a, .sezioni-titolo-destra a{
    display:flex;
    color:gray;
    text-decoration: none;
}
.sezioni-titolo-destra a{
    margin-right:20px;
}
.header-list-item{
    list-style-type:none;
    display:flex;
    align-items:center;
}
.bottone-accesso{
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    padding:5px;  
}
.container-header{
    max-width: 1400px;
    padding-top:120px;
    height:600px;
    margin: 0 auto;
    background-color: aquamarine;
    display:flex;
    flex-direction:column;
    text-align:left;
}
ul{
    list-style-type: none;
}
.titolo-header{
    width:80%;
    font-size:68px;
   margin:0 auto;
   display:flex;
   flex-direction:row;
}
.card-header{
    width:80%;
    display:flex;
    justify-content:center;
    margin:0 auto;
    padding-top:20px;
}
.text-header{
    font-size: 15px;
    width:40%;
    
}
.card-image{
    width:60%;
}
#jumbo-image{
    width:100%;
    background-size:contain;
}

.unordered-header.bottone-accesso a{
    color:white;
   border:none;
}
.button-header{
    margin:20px 0;
    text-decoration:none;
    border:none;
    font-size:15px;
    color:black;
    text-decoration: none;

}

.button-header a{
    text-decoration:none;
    color:black;
}
.fa-solid {
    margin-top:20px;
    font-size:30px;

}
.bottone-accesso-header{
    margin:20px 0;
    background-color: dodgerblue;
    font-size: 15px;
    padding:5px;  
    border:none;
}
.bottone-accesso-header a{
    color:white;
    text-decoration: none;
}
.main-container{
    padding-top:120px;
    margin:0 auto;
    width:60%;
    padding-bottom:120px;
}
.main-section-title{
    font-size:30px;
}
.main-colo-section{
    display:flex;
}
.form-type{
    margin:50px 0;
}
.colonna{
    border:1px solid lightgrey;
    min-height:950px;
    width:33%;
    background-color: white;
    display:flex;
    flex-direction:column;
}
.title-offer{
    height: 15px;
    text-align:center;
    vertical-align:middle;
}

.icon-main{
    font-size:10px;
    padding:5px;
}
.colo-items{
    width:80%;
    text-align:left;
    text-decoration:none;
    list-style-type:none;
    margin:20px 10px;
}
.list-table-item{
    margin-bottom:8px;
}
.button-colo{
    margin-top:50px;
    margin-bottom:10px;
    font-size:10px;
    text-align:left;
}
.bottone-accesso-header{
    width:100%;
}
.divisione-colo{
    border: 1px solid lightgrey;
    width:15%;
    margin-top:20px;
    margin-left:10px;
}
.list-item-down{
    margin-top:20px;
    list-style-type: none;
}
.title-section-down{
    margin-top:20px;
}
.down-list{
    text-align: left;
    margin:10px 10px;
}
.blue-check{
    color:blue;
    font-size:10px;
    margin-right:5px;
}
.row{
    border:1px solid lightgrey;
    width:80%;
    margin:0 auto;
    padding:30px;
    margin-bottom:100px;
}
.sottotitolo-section{
    text-align:center;
    vertical-align: middle;
}
.row-card{
    border-top:1px solid lightgrey;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:30px;

}
.row-card-left{
    width:60%;
    align-self:flex-start;
   
}
.row-card-right{
    width:20%;
    align-self:center; 

}
.header-row-card{
 font-size:30px;
}
.mini-header-row-card{
     font-size:20px;
     margin-top:10px;
     margin-bottom:30px;
}
.row-image{
    width:70%;
    padding-right:30px;
}
.row-card-text{
    width:30%;
    align-self:center;
}
#image-section-header{
    font-size:30px;
}
.card-image{
    display:flex;
    border:none;
    padding-left:0;
}
.button-card-image{
    margin-top:30px;
    width:50%;
    margin-bottom:10px;
    font-size:15px;
    text-align:center;
}
.button-card-image a{
    color:gray;
    text-decoration: none;
}
#dropbusiness-title{
    width:80%;
    margin:100px auto;
    text-align:left;
    font-size:40px;
}
.colonne-container{
    width:80%;
    margin:100px auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}
.row-line-container{
    display:flex;
}
.single-colo{
    max-width:calc(80% / 3);
    padding: 10px 10px;
    margin:10px 10px;
   text-align: left;
}
.business-image{
    width:100%;
}
.client-info{
    width:80%;
    margin:100px auto;
    text-align: left;   
}
#client-title{
    width:60%;
    font-size:40px;
    margin-bottom:40px;
}
.client-info a {
    color:blue;
}
.sponsor-section{
    max-width:100%;
    display:flex;
}
.sponsor-mini-section{
    width:calc(100% / 3);
    height:calc(100vw / 3);  
}
.lateral-section{
    display:flex;
    flex-wrap: wrap;
    height:calc(100% / 2);
}
#morten-logo-image{
    margin-top:20px;
    width:60%;
}
#morten-speech{
   margin:40px 0;
}
.central-section{
    text-align: left;
    padding:30px;
}
.small-image{
    width:calc(100% / 2);
   position:relative;
}
.center-image{
    padding:20px 20px;
    position:relative;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
}
.central-image{
    transform: scale(0.6);
}
/* utilities */
.bg-yellow{
    background-color: yellow;
}
.bg-red{
background-color: red;
}
.bg-blue{
background-color: blue;
}
.bg-green{
    background-color: green;
}
.bg-orange{
    background-color: orangered;
}
.bg-purple{
    background-color: purple;
}
.bg-dodgerblue{
    background-color: dodgerblue;
}
.bg-lightgreen{
    background-color: lightgreen;
}
.bg-lightblue{
    background-color: aqua;
}
.advertise-section{
    width:100%;
    margin:0 auto;
    padding:100px 0;
    background-color: aquamarine;
    display:flex;
    justify-content:center;
    align-items: baseline;

}
#section-title-down{
    width:40%;
    color:brown;
    font-size:38px;
    text-align:left;
    align-self:baseline;
}
.last-button{
    width:20%;
    text-align:center;
    align-self:baseline;
    padding:10px;
}